body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

table {
  margin: 5px;
}

.ignored {
  color: gray;
}

div.project-header {
  margin-bottom: 10px;
  font-size: large;
}

div.project-header > span.project-name {

}

div.project-header > span.project-version {
  padding-left: 20px;
}

div.date-test-ran {
  font-size: small;
  font-style: italic;
}

div.spec-title {
  padding: 10px 0px 5px 0px;
}

table.summary-table {
  width: 800px;
  text-align: left;
  font-weight: 500;
  font-size: small;
}

table.summary-table th {
  background: lightblue;
  padding: 6px;
}

table.summary-table td {
  background: #E0E0E0;
  padding: 6px;
}

tr.error td, td.error {
  background-color: #F89A4F !important;
}

tr.failure td, td.failure {
  color: red;
}

div.footer {
  text-align: center;
  font-size: small;
}
