body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

.back-link {
  font-size: small;
}

table {
  margin: 5px;
}

div.date-test-ran {
  font-size: small;
  font-style: italic;
}

.return-toc {
    float: right; font-size: 60%;
}

table.features-table {
  width: 800px;
}

table.summary-table {
  width: 800px;
  text-align: left;
  font-weight: bold;
  font-size: small;
}

table.summary-table th {
  background: lightblue;
  padding: 6px;
}

table.summary-table td {
  background: #E0E0E0;
  padding: 6px;
}

pre.title {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1px;
  color: #333;
}

pre.narrative {
  font-family: inherit;
  font-size: 18px;
  font-style: italic;
  line-height: 23px;
  letter-spacing: -1px;
  color: #333;
}

.feature-description {
  font-size: large;
  background: lightblue;
  padding: 12px;
}

.feature-toc-error {
  color: #F89A4F;
}

.feature-toc-failure {
  color: #FF8080;
}

.feature-toc-ignored {
  color: lightgray;
}

.feature-toc-pass {
  color: green;
}

.feature-description.error {
  background: #F89A4F;
}

.feature-description.failure {
  background: #FF8080;
}

.feature-description.ignored {
  background: lightgray;
}

.feature-description.ignored .reason {
  color: black;
  font-style: italic;
  font-size: small;
}

div.extra-info {
  font-size: small;
}

div.spec-headers {
  margin: 4px;
  font-style: italic;
}

div.spec-header {
}

div.issues {
  margin-top: 6px;
  padding: 10px 5px 5px 5px;
  background-color: lemonchiffon;
  color: black;
  font-weight: 500;
  font-size: small;
  max-width: 50%;
}

div.pending-feature {
  background-color: dodgerblue;
  color: white;
  margin-top: 6px;
  padding: 5px;
  text-align: center;
  font-size: small;
  max-width: 120px;
}

div.problem-description {
  padding: 10px;
  background: pink;
  border-radius: 10px;
}

div.problem-header {
  font-weight: bold;
  color: red;
}

div.problem-list {

}

table.ex-table th {
  background: lightblue;
  padding: 5px;
}

table.ex-table td {
  background: #E0E0E0;
  padding: 2px 5px 2px 5px;
}

table td {
  min-width: 50px;
}

col.block-kind-col {
  width: 70px;
}

span.spec-header {
  font-weight: bold;
}

div.spec-text {
  /*color: green;*/
}

div.spec-status {
  font-style: italic;
}

.ignored {
  color: gray;
}

td.ex-result {
  text-align: center;
  background: white !important;
}

.ex-time {
  font-style: italic;
  font-size: smaller;
}

.ex-pass {
  color: darkgreen;
}

.ex-fail {
  color: red;
  font-weight: bold;
}

div.block-kind {
  margin: 2px;
  font-style: italic;
}

div.block-text {

}

pre.block-source {
  background-color: whitesmoke;
  padding: 10px;
}

pre.block-source.error {
  background-color: pink;
  color: red;
  font-weight: bold;
}

pre.block-source.pre-error {

}

pre.block-source.before-error {
  margin-bottom: -14px;
}

pre.block-source.after-error {
  color: gray;
  margin-top: -14px;
}

pre.block-source.post-error {
  color: gray;
}

div.footer {
  text-align: center;
  font-size: small;
}
